.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  height: 100vh;
}

.error {
  color: red;
}

.input {
  height: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.jsonViewer {
  grid-column: 2 / 4;
}
